<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Projects Page</title>
</head>
<body>
	{{> header}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, architecto!</p>
	{{> footer}}
</body>
</html>